.content {
	padding: 0 20px;
	font-family: "Roboto Condensed", Arial, sans-serif;
	max-width: 1000px;
	margin: auto;
	margin-top: 50px;
}

	.content__header {
	    font-size: 20px;
	    text-align: center;
	    margin-bottom: 35px;
	}